@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
    background: #fff;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #868e96;
}

a{
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
a:hover {
    text-decoration: none;
}

h1,h2,h3,h4,h5 {
    color: #000;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
header .navbar-brand {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.6em;
    font-weight: 500;
    font-family: "poppins";
    color: #bc5148!important;
}
header .navbar-brand span{
    color: #bc5148!important;
}
header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: #fff!important;
}
@media (max-width: 1200px) {
    header .navbar {
        padding-top: .5rem;
        padding-bottom: .5rem;
        background: #fff!important;
    }
}

header .navbar .nav-link {
    padding: 1.2rem 1rem;
    outline: none!important;
}
@media (max-width: 1200px) {
    header .navbar .nav-link {
        padding: .5rem 0rem;
    }
}
header .navbar .nav-link.active {
    color: #bc5148!important;
}

/* carousel slide */
.carousel-item{
    height: calc(100vh -120px);
    max-height: 590px;
    background: no-repeat scroll center scroll;
}

@media screen and (max-width: 768px){
    .carousel-item {
        height: 400px;
        overflow: hidden;
        background-size: cover;
    }
}
.carousel-item .slide-text h1{
    font-size: 40px;
    line-height: 1.2;
}

.cursive {
    font-family: "sacramento", cursive;
    color: #bc5148;
    font-size: 40px;
}

/* accordion */
.section {
    padding: 7em 0;
}

.accordion-item {
    font-size: 15px;
    border: 1px solid #dee2e6;
}
.accordion-item h2 button{
    color: #bc5148;
    text-decoration: none;
    position: relative;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2)!important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2)!important;
}
.accordion-button:not(.collapsed) {
    color: #bc5148;
    background: #fff;
    border: none;
}
.accordion-button:focus {
    border-color: #fff; 
}


/* image media section */
.heading{
    color: #000;
}
.owl-carousel.major-carousel .owl-stage-outer{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* indicator */
.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    margin-top: -5px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.owl-carousel .owl-nav .owl-prev span::before,
.owl-carousel .owl-nav .owl-next span:before{
    font-size: 30px;
}
.owl-carousel.major-carousel .owl-nav .owl-prev,
.owl-carousel.major-carousel .owl-nav .owl-next {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3 all ease;
    color: #495050;
}
.owl-carousel.major-carousel .owl-nav .owl-prev:hover,
.owl-carousel.major-carousel .owl-nav .owl-prev:focus,
.owl-carousel.major-carousel .owl-nav .owl-next:hover,
.owl-carousel.major-carousel .owl-nav .owl-next:focus {
    color: #868e96;
    outline: none;
}
.owl-carousel.major-carousel .owl-nav .owl-prev.disabled,
.owl-carousel.major-carousel .owl-nav .owl-next.disabled {
    color: #dee2e6;
}
/* indicator position */
.owl-carousel.major-carousel .owl-nav .owl-prev {
    left: -60px!important;
}
.owl-carousel.major-carousel .owl-nav .owl-next {
    right: -60px!important;
}
/* dots */
.owl-carousel .owl-dots {
    text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: #868e96;
}
.owl-carousel .owl-dots .owl-dot.active{
    color: #bc5148;
}
.owl-carousel.major-carousel .owl-dots {
    bottom: -10px!important;
    position: relative;
}
.media-custom {
    background: #fff;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    margin-bottom: 30px;
    position: relative;
    top: 0;
}
.media-custom > a {
    position: relative;
    overflow: hidden;
    display: block;
}
/* image size */
.media-custom img{
    height: 300px;
    object-fit: cover;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.media-custom:focus, .media-custom:hover {
    top: -2px;
    -webkit-box-shadow: 0 5px 40px 0 rgba(0,0,0,0.1);
    box-shadow: 0 5px 40px 0 rgba(0,0,0,0.1);
}
/* image zoomed */
.media-custom:focus img, .media-custom:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.age{
    font-size: 14px;
    color: #868e96;
}

/* blog articles */
.border-t{
    border-top: 1px solid #f8f8fa;
}
.link-thumbnail {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
}
.link-thumbnail img{
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    height: 270px;
    margin: 0;
}
.link-thumbnail .date{
    display: block;
    font-size: 12px;
    color: rgba(225,225,225,0.4);
    margin-bottom: 10px;
    text-transform: uppercase;
}
.link-thumbnail .bi{
    position: absolute;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 50%;
    left: 50%;
    font-size: 28px;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    z-index: 4;
}
.link-thumbnail h3 {
    opacity: 0;
    visibility: hidden;
    bottom: -5px;
    color: #fff;
    font-size: 16px;
    position: absolute;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    z-index: 10;
    /* left: 50%; */
    display: block;
    width: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
.link-thumbnail::before{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0,0,0,0.6);
    position: absolute;
    z-index: 2;
}
.link-thumbnail:hover h3{
    opacity: 1;
    visibility: visible;
    bottom: 20px;
}
.link-thumbnail:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.link-thumbnail:hover .bi{
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}
.link-thumbnail:hover::before{
    opacity: 1;
    visibility: visible;
}

/* footer */
.section-subscribe{
    padding: 5em 0;
}
.form-control{
    outline: none;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
}
.form-control:focus {
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
}
.form-control:focus, .form-control:active{
    outline: none;
}
.btn{
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
}

.site-footer{
    background: #bc5148;
    padding: 5em 0;
    font-size: 14px;
    color: #868e96;
}
.site-footer p:last-child{
    margin-bottom: 0;
}
.site-footer a{
    color: #ffc107;
    border-bottom: 1px solid transparent;
}
.site-footer a:hover{
    color: #fff;
    border-bottom: 1px solid rgba(225,225,225,0.2);
}
.site-footer h2{
    font-size: 22px;
    letter-spacing: .05em;
    color: #fff;
    margin-bottom: 28px;
}
.site-footer .footer-link li{
    margin-bottom: 15px;
}
.footer-social a{
    line-height: 0;
    border-radius: 50%;
    margin: 0 10px;
    border: 1px solid rgba(225,225,225,0.1);
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
}
.footer-social a:hover{
    color: #000;
}
.footer-social .bi{
    font-size: 20px;
    margin-top: 6px;
}